@import "tailwindcss";

:root {
  --sl-color-accent: #60a5fa;
  --sl-color-accent-hover: #3b82f6;
  --sl-color-text-accent: #60a5fa;
  --sl-color-link: #60a5fa;

  --sl-font-family: "JetBrains Mono", sans-serif;
}

html.dark {
  --sl-color-accent: #93c5fd;
  --sl-color-accent-hover: #60a5fa;
  --sl-color-text-accent: #93c5fd;
  --sl-color-link: #93c5fd;
}

/* Apply Fabrik Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sl-font-heading) !important;
}

html,
body,
input,
textarea,
button,
select {
  font-family: var(--sl-font-family) !important;
}

code,
pre,
pre code {
  font-family: "JetBrains Mono", monospace !important;
  line-height: 1.6;
  font-size: 0.95rem;
}
